= form_for @inscripcion_evento, html: { class: "form-horizontal", role: "form" } do |f|
  -#= render 'shared/error_messages', object: f.object, model: 'Cuenca'

  .ibox.float-e-margins
    .ibox-content.border-bottom.form-horizontal

      .form-group
        = f.label :fecha, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.date_select :fecha, class: 'form-control'

      .form-group
        = f.label :nro_asiento, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :nro_asiento, class: 'form-control'

      .form-group
        = f.label :fecha_pago, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.date_select :fecha_pago, class: 'form-control'

      .form-group
        = f.label :nro_pago, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :nro_pago, class: 'form-control'

      .form-group
        = f.label :monto, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :monto, class: 'form-control'

      .form-group
        = f.label :aceptado, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.check_box :aceptado, class: 'form-control'

      .form-group
        = f.label :fecha_aceptado, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.date_select :fecha_aceptado, class: 'form-control'

      .form-group
        = f.label :contacto, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :contacto, class: 'form-control'

      .form-group
        = f.label :evento, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :evento, class: 'form-control'

      .form-group
        .col-sm-3
          = link_to inscripcion_eventos_path, class: 'btn btn-success' do
            %i.fa.fa-arrow-left
            Regresar
        .col-sm-3.col-sm-offset-6
          = f.submit class: 'btn btn-primary'
